{% extends 'base.html' %}

{% block title %}Register your car{% endblock %}

{% block content %}
    <h1>Register your car</h1>

    {% if success == 1 %}
    <p>Car added</p>
    {% endif %}

    <form method="post">
        <div>
        <label for="make">Model</label>
        <select name="model">
            {% for model in models %}
            <option value="{{ model.id }}">{{ model.make }} {{ model.name }}</option>
            {% endfor %}
        </select>
        </div>

        <div>
        <label for="name">
            Description</label>
        <input name="name" />
        </div>
        <input type="submit" />
    </form>

    <hr />

    {% if cars %}
    <table>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Description</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Add your car to be notified of any future recalls</p>
    {% endif %}

{% endblock %}
