{% extends 'base.html' %}

{% block content %}
    <h1>Add recall</h1>

    {% if success == 1 %}
    <p>Recall added.</p>
    {% endif %}

    <form method="post">
        <div>
        <label for="make">Model</label>
        <select name="model">
            {% for model in models %}
            <option value="{{ model.id }}">{{ model.make }} {{ model.name }}</option>
            {% endfor %}
        </select>
        </div>

        <div>
        <label for="body">
            Description</label>
        <textarea name="body" rows="8" cols="80"></textarea>
        </div>
        <input type="submit" />
    </form>

{% endblock %}
