<html>
<head>
<title>Project A</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"></link>
</head>
<body>
    <h1>Project A</h1>

    <form>
        <input name="q" value="{{ query|default('') }}"/>
        <input type="submit" />
    </form>

    {% if recalls %}
    <ul>
    {% for recall in recalls %}
        <li>{{ recall.make }} {{ recall.model }} {{ recall.body }} {{ recall.updated_at }}</li>
    {% endfor %}
    </ul>
    {% elif query %}
    <p>No results found</p>
    {% endif %}
</body>
</html>
